<!DOCTYPE html>
<html>
<head>
  <title>Udyssey</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}" />
</head>
<body>
  <h1>It works!</h1>
  <!-- TODO: code up the front end :) -->

  <!-- scripts -->
  <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout-3.2.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>
</html>